<!DOCTYPE html>

<html lang="en">
    <head>
        <%- include('./partials/head.ejs') %>
    </head>

    <body>
        <h1>Log into PolarID</h1>
        <a class="login" href="/api/auth" style="text-decoration: none;"><i class="fab fa-discord"></i>Login with Discord</a>
    </body>
</html>